@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Tektur:wght@400;600;700&family=Cinzel:wght@400..900&display=swap&family=Geist+Mono:wght@400;500&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Tektur", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-rpg: "Cinzel", serif;

  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-surface: #f5f5f5;
  --color-border: #e5e5e5;
}
